<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SneakersShop</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="top-buttons">
        <button>Products</button>
        <button>Producers</button>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
