<!-- ./Pages/Shared/_ProducerModals.cshtml -->
<div id="addProducerModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeAddProducerModal">&times;</span>
        <h2>Add Producer</h2>
        <label for="newProducerName">Producer Name:</label>
        <input type="text" id="newProducerName" />
        <button id="saveNewProducerButton">Save</button>
    </div>
</div>

<div id="editProducerModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeEditProducerModal">&times;</span>
        <h2>Edit Producer</h2>
        <input type="hidden" id="editProducerId" />
        <label for="editProducerName">Producer Name:</label>
        <input type="text" id="editProducerName" />
        <button id="saveEditProducerButton">Save</button>
    </div>
</div>
