body {
  background-color: #3c3c3c !important;
  color: #cccccc !important;
  font-family: Arial, sans-serif;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: #cccccc;
}

a {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #000000;
  background-color: #ffffff;
  border-color: #c90cb6;
  line-height: inherit;
  border: none;

  cursor: pointer;
  border-radius: 5px;
}

.btn-primary {
  color: #ffffff;
  background-color: #12ee51;
  border-color: #c90cb6;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #ffffff;
  background-color: #0ac92d;
  border-color: #cf13c9;
}

.border-top {
  border-top: 1px solid #555;
}
.border-bottom {
  border-bottom: 1px solid #555;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .5);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
  color: #ffffff;
  background-color: #00ff04;
  border-color: #d4099e;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  color: #cccccc;
  background-color: #3c3c3c;
}

h1 {
  text-align: center;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.buttons-container button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #36db15;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.buttons-container button:hover {
  background-color: #2fc00e;
}



.container {
  margin: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
button {
  margin: 5px;
}
